<div class="container-fluid">

    <div class="row">
            <div class="col-xs-12 col-md-4 ">
                <section>
                    <article ng-repeat="contact in contacts">
                        <div title="Go to contact details" class="contact"  ng-click="edit(contact)">
                            <img class="contacts-img" ng-src={[{contact.image}]}>
                            <h3>{[{contact.first_name}]} {[{contact.last_name}]}</h3>
                            <h6>{[{contact.phone}]}</h6>
                        </div>
                    </article>
                </section>

                <div class="row">
                    <div class="col-xs-1"><button type="button" class="btn btn-default">+</button></div>
                    <div class="col-xs-1"><button type="button" class="btn btn-default">-</button></div>
                </div>
            </div>


        <form name="myform" action="" novalidate>
        <div class="col-xs-8 col-sm-6 col-md-6 col-lg-5">

            <div class="col-md-12">
                <div class="row">
<span style="color:red" ng-show="myform.first_name.$dirty">
                <span class="error_input" style="color:red" ng-show="myform.first_name.$error.required">Name</span>
                <span class="error_input" style="color:#0099cc;" ng-show="myform.first_name.$valid && first_name_focus">Name</span>
                <span class="error_input" style="color:#59b137;" ng-show="(myform.first_name.$valid && first_name_blur)">Name</span>
            </span><span style="color:transparent;">dummy</span>
                </div></div>
            <input type="text" name="first_name" ng-model="user.first_name" ng-class="{valid_input:(myform.first_name.$valid && first_name_blur),invalid_input:myform.first_name.$invalid,clear_input:myform.first_name.$pristine,focused_input:(first_name_focus && myform.first_name.$valid)}" ng-required="true" class="clear_input"
                   ng-focus="first_name_focus=true;first_name_blur=false;" ng-blur="first_name_blur=true;first_name_focus=false;"
                   placeholder="Name"  ng-init="first_name_focus=false;first_name_blur=false">
            <div class="col-md-12">
                <div class="row">
	<span style="color:red" ng-show="myform.first_name.$dirty && myform.first_name.$invalid">
             <span class="error_input" ng-show="myform.first_name.$error.required">Name is required</span>
    </span><span style="color:transparent;">dummy</span>
                </div></div>



            <div class="col-md-12">
                <div class="row">
<span style="color:red" ng-show="myform.last_name.$dirty">
                <span class="error_input" style="color:red" ng-show="myform.last_name.$error.required">Sur-Name</span>
                <span class="error_input" style="color:#0099cc;" ng-show="myform.last_name.$valid && last_name_focus">Sur-Name</span>
                <span class="error_input" style="color:#59b137;" ng-show="(myform.last_name.$valid && last_name_blur)">Sur-Name</span>
            </span><span style="color:transparent;">dummy</span>
                </div></div>
            <input type="text" name="last_name" ng-model="user.last_name" ng-class="{valid_input:(myform.last_name.$valid && last_name_blur),invalid_input:myform.last_name.$invalid,clear_input:myform.last_name.$pristine,focused_input:(last_name_focus && myform.last_name.$valid)}" ng-required="true" class="clear_input"
                   ng-focus="last_name_focus=true;last_name_blur=false;" ng-blur="last_name_blur=true;last_name_focus=false;"
                   placeholder="Sur-Name"  ng-init="last_name_focus=false;last_name_blur=false">
            <div class="col-md-12">
                <div class="row">
	<span style="color:red" ng-show="myform.last_name.$dirty && myform.last_name.$invalid">
             <span class="error_input" ng-show="myform.last_name.$error.required">Sur-Name is required</span>
    </span><span style="color:transparent;">dummy</span>
                </div></div>

            <div class="col-md-12">
                <div class="row">
<span style="color:red" ng-show="myform.phone.$dirty">
                <span class="error_input" style="color:red" ng-show="myform.phone.$error.required">Tel.-no</span>
                <span class="error_input" style="color:#0099cc;" ng-show="myform.phone.$valid && phone_focus">Tel.-no</span>
                <span class="error_input" style="color:#59b137;" ng-show="(myform.phone.$valid && phone_blur)">Tel.-no</span>
            </span><span style="color:transparent;">dummy</span>
                </div></div>
            <input type="text" name="phone" ng-model="user.phone" ng-class="{valid_input:(myform.phone.$valid && phone_blur),invalid_input:myform.phone.$invalid,clear_input:myform.phone.$pristine,focused_input:(phone_focus && myform.phone.$valid)}" ng-required="true" class="clear_input"
                   ng-focus="phone_focus=true;phone_blur=false;" ng-blur="phone_blur=true;phone_focus=false;"
                   placeholder="Tel.-no"  ng-init="phone_focus=false;phone_blur=false">
            <div class="col-md-12">
                <div class="row">
	<span style="color:red" ng-show="myform.phone.$dirty && myform.phone.$invalid">
             <span class="error_input" ng-show="myform.phone.$error.required">Tel.-no is required</span>
    </span><span style="color:transparent;">dummy</span>
                </div></div>


            <div class="row " >

                <div class="col-md-6">




                    <div class="col-md-12">
                        <div class="row">
	<span style="color:red" ng-show="myform.comment.$dirty">
                <span class="error_input" style="color:red" ng-show="myform.comment.$invalid">Text comments </span>
                <span class="error_input" style="color:#0099cc;" ng-show="myform.comment.$valid && comment_focus">Text comments</span>
                <span class="error_input" style="color:#59b137;" ng-show="(myform.comment.$valid && comment_blur)">Text comments</span>
            </span><span style="color:transparent;">dummy</span>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="row">

<textarea style="height: 150px;"  name="comment" ng-model="user.comment"   cols="30" rows="12" placeholder="Text comments"
           ng-class="{valid_input:(myform.comment.$valid && comment_blur),invalid_input:myform.comment.$invalid,clear_input:myform.comment.$pristine,focused_input:(comment_focus && myform.comment.$valid)}"
           class="clear_input"
           ng-focus="comment_focus=true;comment_blur=false;" ng-blur="comment_blur=true;comment_focus=false;"
           ng-init="comment_focus=false;comment_blur=false"
        ></textarea>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="row">
	<span style="color:red" ng-show="myform.comment.$dirty && myform.comment.$invalid">
             <span class="error_input" ng-show="myform.comment.$error.required">is required</span>

    </span><span style="color:transparent;">dummy</span>
                        </div>
                    </div>



                </div>


                <div class="col-md-5">
                    <div class="row">
                    <div class="col-md-12">

                            <div class="image">
                                <img class="img-responsive" src="{[{user.image}]}">
                            </div>
                        </div>
                    </div>

                        <div class="row">
                            <div class="col-xs-6">
                                <div ngf-select ngf-drop ng-model="files" ngf-change="uploadImage($files)" ngf-multiple="false" ngf-pattern="image/*" accept="image/*"   ngf-drag-over-class="drop-box.dragover" ngf-validate="validateObj" ngf-keep="keepDistinct ? 'distinct' : keep" ngf-allow-dir="allowDir" class="drop-box ng-valid ng-valid-min-size ng-valid-max-size ng-valid-max-total-size ng-valid-validate-fn ng-valid-min-height ng-valid-min-width ng-valid-ratio ng-valid-max-ratio ng-valid-min-ratio ng-valid-max-duration ng-valid-min-duration ng-valid-validate-async-fn ng-valid-max-height ng-valid-max-width ng-dirty" ngf-drop-available="true">Select Image

                                </div>


                            </div>
                            <div class="col-xs-6">
                            <div class="delete-box" ng-click="deleteImage()">-</div>
                            </div>

                    </div>


                </div>

                <div class="col-md-12">
                    <div class="row">
                <button type="button" class="btn btn-primary" ng-disabled="myform.$invalid || myform.$pristine" class="btn" ng-show="!user._id" ng-click="add()">Add contact</button>
                <button type="button" class="btn btn-primary" ng-disabled="myform.$invalid" ng-show="user._id"   ng-click="update()">Save changes</button>
                        <button type="button" class="btn btn-danger"  ng-show="user._id"   ng-click="delete()">Delete contact</button>

                    </div>
                    </div>
            </div>
</div>

            <div class="row ">
                <div class="col-xs-12 col-md-4 row_margin">

                    <uib-alert ng-repeat="alert in alerts" type="{[{alert.type}]}" close="closeAlert($index)" dismiss-on-timeout="2000">{[{alert.msg}]}</uib-alert>


                </div>
            </div>
        </form>

        </div>
</div>


        <!--<md-content layout-padding class="autoScroll">-->
                <!--<md-input-container class="md-icon-float" >-->
                    <!--&lt;!&ndash; Use floating label instead of placeholder &ndash;&gt;-->
                    <!--<label>Name</label>-->
                    <!--<md-icon  class="name"></md-icon>-->
                    <!--<input ng-model="user.first_name" required   maxlength="30" type="text">-->
                <!--</md-input-container>-->
                <!--<md-input-container class="md-icon-float" >-->
                    <!--&lt;!&ndash; Use floating label instead of placeholder &ndash;&gt;-->
                    <!--<label>Sur-Name</label>-->
                    <!--<md-icon  class="name"></md-icon>-->
                    <!--<input ng-model="user.last_name" type="text">-->

                <!--</md-input-container>-->
                <!--<md-input-container class="md-icon-float" >-->
                    <!--&lt;!&ndash; Use floating label instead of placeholder &ndash;&gt;-->
                    <!--<label>Tel. no</label>-->
                    <!--<md-icon  class="name"></md-icon>-->
                    <!--<input ng-model="user.phone" type="text">-->

                <!--</md-input-container>-->

                    <!--<div class="file_input">-->

                            <!--<label>File</label>-->
                            <!--<input type="file"/>-->

                    <!--</div>-->
                    <!--<div class="comments">-->

                        <!--<md-input-container>-->
                        <!--<label>Comments</label>-->
                        <!--<textarea ng-model="user.comment" rows="4" ></textarea>-->
                    <!--</md-input-container></div>-->

                <!--<md-input-container class="md-icon-float" >-->
                    <!--<md-button ng-show="!user._id" class="md-raised" ng-click="add()">Add</md-button>-->
                    <!--<md-button ng-show="user._id"  class="md-raised" ng-click="update()">Save</md-button>-->
                <!--</md-input-container>-->
            <!--</md-content>-->

        </div>

    </div>
</div>
<!--<div class="flexbox-container">-->
    <!--<div class="list">-->
        <!--<section layout="row" layout-align="center top" layout-wrap="" style="align-self: flex-start;">-->

        <!--<table>-->
            <!--<tr ng-repeat="contact in contacts">-->
                <!--<td>{[{ contact.first_name }]}</td>-->
                <!--<td>{[{ contact.last_name }]}</td>-->
            <!--</tr>-->
        <!--</table>-->
        <!--</section>-->
            <!--<section layout="row"  layout-align="center center" layout-wrap="" style="align-self: flex-end;">-->

      <!--<md-button  class="md-primary">Add</md-button>-->
      <!--<md-button class="md-warn">Delete</md-button>-->


    <!--</section>-->
    <!--</div>-->
    <!--<div class="user_input">-->
        <!--<md-content layout-padding class="autoScroll">-->
            <!--<md-input-container class="md-icon-float" >-->
                <!--&lt;!&ndash; Use floating label instead of placeholder &ndash;&gt;-->
                <!--<label>Name</label>-->
                <!--<md-icon  class="name"></md-icon>-->
                <!--<input ng-model="user.first_name" type="text">-->
            <!--</md-input-container>-->
            <!--<md-input-container class="md-icon-float" >-->
                <!--&lt;!&ndash; Use floating label instead of placeholder &ndash;&gt;-->
                <!--<label>Sur-Name</label>-->
                <!--<md-icon  class="name"></md-icon>-->
                <!--<input ng-model="user.last_name" type="text">-->

            <!--</md-input-container>-->
            <!--<md-input-container class="md-icon-float" >-->
                <!--&lt;!&ndash; Use floating label instead of placeholder &ndash;&gt;-->
                <!--<label>Tel. no</label>-->
                <!--<md-icon  class="name"></md-icon>-->
                <!--<input ng-model="user.telphone_number" type="text">-->

            <!--</md-input-container>-->
            <!--<div class="flexbox-container">-->
                <!--<div class="file_input">fdf</div>-->
                <!--<div class="comments"><md-input-container>-->
                    <!--<label>Comments</label>-->
                    <!--<textarea ng-model="color" rows="4" required md-maxlength="10"></textarea>-->
                <!--</md-input-container></div>-->
            <!--</div>-->
            <!--<md-input-container class="md-icon-float" >-->
                <!--<md-button class="md-raised" ng-click="login()">Login</md-button>-->
            <!--</md-input-container>-->
        <!--</md-content>-->


    <!--</div>-->






<!--</div>-->